div {
  outline: 1px solid red;  
}

h2 {
  font-size: 20px; 
  text-align: center;
}

h3 {
  font-size: 16px;
  text-align: center;
}

.char {
  height: 100px; 
}

.chosen {
  width: 100%;
}

#startOver {
  text-align: center;
}