::-webkit-scrollbar {
    display: none;
}

body {
  background: url(../images/background.jpg);
  background-size: 100%, auto;
}

div {
  outline: 1px solid red; 
}

h2 {
  font-size: 20px; 
  text-align: center;
  color: black;
  margin-top: 10px;
}

span {
  background-color: white;
}

p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 14px;
  text-align: center;
  color:black;
  margin: 0;
}

img {
  height: 100%;
  float: left;
}

.char {
  height: 150px;
  background-color: white; 
  padding: 0;
}

.chosen {
  width: 100%;
}

.hidden {
  display: none;
}

.container-fluid {
  padding: 0;
}

.HP {
  margin-top: 10px;
}

#startOver {
  text-align: center;
}

@media only screen and (max-width : 991px) {
  .spacer {
    display: none;
  }
}